<footer class="footer h-card" role="contentinfo">
    <div class="footer__inner container">
        <p class="footer__item">
            <strong>&copy; {{ build.timestamp | dateToFormat('yyyy') }}</strong><br />
            <a class="p-name u-url" rel="me" href="{{ site.url }}">{{ author.name }}</a>
        </p>

        <p class="footer__item">
            <strong>Legal</strong><br />
            <a href="/privacy/">Privacy Policy</a>
            <a href="/colophon/">Colophon</a>
        </p>

        <p class="footer__item footer__item--right u-desktop-only">
            <a href="" class="footer__speedlify">
                <speedlify-score speedlify-url="" hash="" score weight></speedlify-score>
            </a>
        </p>

        <p class="footer__item footer__item--right">
          
        </p>

    </div>
</footer>