---
layout: base
eleventyExcludeFromCollections: true
---

<div class="page page--404">
    <header class="page__header">
        <h1 class="page__title">Nothing to see here!</h1>
        <p class="page__subtitle">404 - Not Found</p>
    </header>
    <div class="page__content markdown">
        <p>Sorry about that - might be a typo in the URL, or maybe this page has moved?</p>
        <p class="u-align-center"><a href="/" class="btn btn--primary">Nah, Go Back Home</a></p>
    </div>
</div>